<form [formGroup]="mainForm" (ngSubmit)="submitForm()">
  <input type="text" formControlName="title" />
  <br />
  <br />
  <input type="text" formControlName="somethingElse" />
  <br />
  <br />
  <div *ngFor="let frm of getApplicantForm().controls">
    <app-big-form
      formArrayName="applicants"
      [applicantForm]="frm"
    ></app-big-form>
  </div>
  <input type="submit" value="Hit me" />
</form>

<input
  type="button"
  value="Add one more applicant"
  (click)="generateOneMoreApplicant()"
/>
